dist: trusty
sudo: required

matrix:
  include:
  - os: osx
    name: CPython2.7 Arrow 0.13.0
    osx_image: xcode9.4
    language: generic
    env:
    - TRAVIS_PYTHON_VERSION="2.7.12"
    - TURBODBC_TEST_CONFIGURATION_FILES="query_fixtures_postgresql.json"
    - ODBC_DIR=odbc_osx
    - TURBODBC_ARROW_VERSION=0.13.0
    - TURBODBC_USE_CONDA=No
# #  Disable for now until a workaround for the detection of pyenv versions by pybind11
# #  is found
# #  - os: osx
# #    language: generic
# #    env:
# #    - TRAVIS_PYTHON_VERSION="3.6.0"
# #    - TURBODBC_TEST_CONFIGURATION_FILES="query_fixtures_postgresql.json"
# #    - ODBC_DIR=odbc_osx
#   - os: linux
#     name: CPython2.7 Arrow 0.13.0
#     language: python
#     python: "2.7"
#     env:
#     - TURBODBC_TEST_CONFIGURATION_FILES="query_fixtures_postgresql.json,query_fixtures_mysql.json"
#     - ODBC_DIR=odbc
#     - TURBODBC_ARROW_VERSION=0.13.0
#     - TURBODBC_USE_CONDA=No
#   - os: linux
#     name: CPython3.5 Arrow 0.13.0
#     language: python
#     python: "3.5"
#     env:
#     - TURBODBC_TEST_CONFIGURATION_FILES="query_fixtures_postgresql.json,query_fixtures_mysql.json"
#     - ODBC_DIR=odbc
#     - TURBODBC_ARROW_VERSION=0.13.0
#     - TURBODBC_USE_CONDA=No
#   - os: linux
#     name: CPython3.6 Arrow 0.12.1
#     language: python
#     python: "3.6"
#     env:
#     - TURBODBC_TEST_CONFIGURATION_FILES="query_fixtures_postgresql.json,query_fixtures_mysql.json"
#     - ODBC_DIR=odbc
#     - TURBODBC_ARROW_VERSION=0.12.1
#     - TURBODBC_USE_CONDA=No
#   - os: linux
#     name: CPython3.6 Arrow 0.13.0
#     language: python
#     python: "3.6"
#     env:
#     - TURBODBC_TEST_CONFIGURATION_FILES="query_fixtures_postgresql.json,query_fixtures_mysql.json"
#     - ODBC_DIR=odbc
#     - TURBODBC_ARROW_VERSION=0.13.0
#     - TURBODBC_USE_CONDA=No
#   - os: linux
#     name: CPython3.7 Arrow 0.13.0
#     dist: xenial
#     language: python
#     addons:
#       apt:
#         packages:
#           - unixodbc
#           - unixodbc-dev
#           - odbc-postgresql
#     services:
#       - docker
#       - postgresql
#       - mysql
#     python: "3.7"
#     env:
#     - TURBODBC_USE_CONDA=yes
#     - TURBODBC_TEST_CONFIGURATION_FILES="query_fixtures_postgresql.json,query_fixtures_mssql.json"
#     - ODBC_DIR=odbc
#     - TURBODBC_ARROW_VERSION=0.13.0


services:
  - mysql
  - postgresql

addons:
  apt:
    packages:
      - unixodbc
      - unixodbc-dev
      - libboost-date-time-dev
      - libboost-locale-dev
      - libboost-system-dev
      - libmyodbc
      - odbc-postgresql=1:09.02.0100-2ubuntu1

before_install: travis/scripts/before_install.sh
install: travis/scripts/install.sh
before_script: travis/scripts/before_script.sh
script: travis/scripts/run.sh

deploy:
  skip_cleanup: true
  provider: pypi
  server: "https://upload.pypi.org/legacy/"
  user: MathMagic
  password:
    secure: "A0Xv0/7EXcDUzevO3lLVr6OUg1wy1NrFKGwruHr0rUfdBBRmDHVm2njvuiRkPgMH0IiWw/HscxNvHYs1U1CpGsWLJ+/TLOc5UQEKl9kkopEAPrwgQeIg7jOiC6bUDgXbZ5iYU8PIl7ygpBNoGJ2sdIP4nwH1COtntSdVr3oy7VwcVge0QhvccYTt4b49YcaJ6rBMntBWo2UhFZ1PGGWrCbPJB+lhwOv1OkbIyV8jXQ3FrENJGIDQiVMoTdWdoYDPP05lFVrsADwD+TRxEdM7z+cIyFhTTUuabRbPDyRiUd69it2WfCRUb4r+fNeF1abh8GRkk5jE4RQWt/DJiZG/yqZU3SKvIf4/pxZywpmqIZr6CEAJ3iriHHN0Khv1fPnyJ6LJ+paOHcrkDKFTbOb32pOjOdDr9UVN5z7tHdN1MmrrMAbzaIcldLcHq69iocXfUWWR5H/CR43Tm422z0ILbMsdQ+z2epTG+l/qLs8ZxSjWeleMIff5n2x3k6U4QXcdwM8x8axYYgq9WoutI90/97zpvf0h8J8K5+Mr7ucNRLbsPU0OKMZknBOT0SRtJFxokDYZU0OCFLIukIlUYCRuh4es/9w30+kPExfhB5i7LKnpvILtPqIU6KDiUQe8mW1+GnnW/hk3WCdkLT6gwOBNBLVPoIJEuCcYjKdHksMrCnY="
  on:
    tags: true
    os: linux
    python: "2.7"
    branch: master
    repo: blue-yonder/turbodbc
